<link rel="stylesheet" href="./add-produto.page.scss">

<ion-content>
  <div class="header">
    <ion-icon name="arrow-back-outline" class="seta" size="large" (click)="voltarProdutos()"></ion-icon>
    <h4>Cadastrar produtos</h4>
  </div>  

  <div>
    <p class="labele">Informaçõens do produto</p>

    <ion-input placeholder="Titulo do produto" fill="outline" type="text" class="input"></ion-input>

    <ion-input placeholder="Descrição" fill="outline" type="text" class="input"></ion-input>

    <ion-input placeholder="Valor:R$0,00" fill="outline" type="number" class="input"></ion-input>

    <ion-input class="inputImg" type="file" accept="image/*" capture="camera"id="fileInput">
      <ion-icon name="image-outline" size="large"></ion-icon>
    </ion-input>

    <ion-button expand="block" mode="md" class="butao" (click)="toastCad()">Cadastrar</ion-button>
  </div>

</ion-content>
