<link rel="stylesheet" href="./pedidos.page.scss">

<ion-content [fullscreen] = "true">

  <h5 class="titulo1">Pedidos</h5>
 
  <ion-item lines="none">
    <ion-label>
      <h6 class="titulo2"><b>Pedidos recentes</b></h6>
      <p class="subtitulo2">Quinta. 4 Agosto 2022</p>
    </ion-label>

  </ion-item>

   <ion-item class="ion-item2" lines="none">
    <ion-label>
      <h6 class="anual"><b>Morango</b></h6>
      <p class="smol1">Ver detalhes</p>
    </ion-label>

    <ion-label slot="end">
      <h6 class="anual"><b>R$15.99</b></h6>
      <p class="smol2">16:45</p>
    </ion-label>

  </ion-item>

  <ion-item class="ion-item2" lines="none">
    <ion-label>
      <h6 class="anual"><b>Pão de forma</b></h6>
      <p class="smol1">Ver detalhes</p>
    </ion-label>

    <ion-label slot="end">
      <h6 class="anual"><b>R$20.00</b></h6>
      <p class="smol2">18:45</p>
    </ion-label>

  </ion-item>

  <ion-item class="ion-item2" lines="none">
    <ion-label>
      <h6 class="anual"><b>Coca-cola 2L</b></h6>
      <p class="smol1">Ver detalhes</p>
    </ion-label>

    <ion-label slot="end">
      <h6 class="anual"><b>R$7.99</b></h6>
      <p class="smol2">20:02</p>
    </ion-label>

  </ion-item>

</ion-content>
