*{
  --ion-background-color: #ffff;
  --ion-text-color: #000000;
   background-color: #ffff;
   // overwrite inline styles
   --offset-bottom: auto!important;
   --overflow: hidden;
   overflow: auto;
   --overflow: hidden;

  
   &::-webkit-scrollbar {
     display: none;
   }
}

.titulo{
  margin-bottom: 15%;
  margin-top: 15%;
  margin-left: 37%;
}

.subtitulo{
  margin-left: 5%;
  margin-bottom: -5%;
}

ion-item{
  --ion-item-background: #ffff;
}

.nome{
  margin-top: 5%;
  margin-left: 36.5%;
}

#incones{
  margin-right: 10%;
}
