*{
    --ion-background-color: white;
    --ion-text-color: #000000;
}

.titulo{
  margin-left: 5%;
  margin-top: 25%;
}

ion-item{
    margin-left: 5%;
    margin-right: 5%;
    border: solid 1px #d1d1d1;
    border-radius: 10px;


  .desconto{
    font-size: small;
    }

  .preco{
    
    }

  .ano{
    font-size: small;
    }

}