<link rel="stylesheet" href="./assinatura.page.scss">

<ion-content>

  <h1 class="titulo">Escolha o plano de assinatura</h1>

  <ion-item lines="none">
    <ion-checkbox mode="md" slot="start"></ion-checkbox>
    <ion-label text-wrap><b>Anual</b></ion-label>
    <ion-label color="primary" class="desconto">-40% desconto</ion-label>
    <ion-label text-wrap slot="end" class="preco"><b>R$98.80</b></ion-label>
    <ion-label slot="end" class="ano">Todo ano</ion-label>
  </ion-item>

</ion-content>
