<link rel="stylesheet" href="./home.page.scss">

<ion-content [fullscreen] = "true">
  <img src="../../../assets/img/takout.png" alt="Imagen" class="imgTitulo">

  <h5 class="titulo1">Visão geral</h5>

  <ion-button class="placeHolder" color="medium">PLACE HOLDER</ion-button>

  <ion-item lines="none">
    <ion-label>
      <h6 class="titulo2">Pedidos recentes</h6>
      <p class="subtitulo2">Quinta. 4 Agosto 2022</p>
    </ion-label>

   <ion-icon name="chevron-forward" color="dark" class="seta"></ion-icon>
  </ion-item>

   <ion-item class="ion-item2" lines="none">
    <ion-label>
      <h6 class="anual"><b>Pedido 1</b></h6>
      <p class="smol1">Ver detalhes</p>
    </ion-label>

    <ion-label slot="end">
      <h6 class="anual"><b>R$98.80</b></h6>
      <p class="smol2">16:45</p>
    </ion-label>

  </ion-item>

  <ion-item class="ion-item2" lines="none">
    <ion-label>
      <h6 class="anual"><b>Pedido 2</b></h6>
      <p class="smol1">Ver detalhes</p>
    </ion-label>

    <ion-label slot="end">
      <h6 class="anual"><b>R$98.80</b></h6>
      <p class="smol2">16:45</p>
    </ion-label>

  </ion-item>

  <ion-item class="ion-item2" lines="none">
    <ion-label>
      <h6 class="anual"><b>Pedido 3</b></h6>
      <p class="smol1">Ver detalhes</p>
    </ion-label>

    <ion-label slot="end">
      <h6 class="anual"><b>R$98.80</b></h6>
      <p class="smol2">16:45</p>
    </ion-label>

  </ion-item>

</ion-content>
