
<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="pedidos">
      <ion-icon name="grid-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="NULOOOOOOOOOOOO">
      <ion-icon name="reader-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="conta">
      <ion-icon name="settings-outline"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
