
<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="pedidos">
      <ion-icon name="download"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="estatisticas">
      <ion-icon name="bar-chart"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="conta">
      <ion-icon name="settings"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
