<link rel="stylesheet" href="./estatisticas.page.scss">

<ion-content>
  <h5 class="titulo1">Estatísticas</h5>

  <ion-item lines="none">
    <ion-label>
      <h6><b>Total ganho</b></h6>
      <h2><b>R$21190.80</b></h2>
      <p class="subtitulo">12%<ion-icon name="arrow-up"></ion-icon>essa semana</p>
    </ion-label>

   <p class="mes">Mês<ion-icon name="chevron-down" color="medium" class="seta"></ion-icon></p> 
  </ion-item>

  <ion-button class="placeHolder" color="medium">PLACE HOLDER</ion-button>

  <p class="subtitulo2"><ion-icon name="download-outline" class="icone"></ion-icon><b>30 Pedidos</b> para processar</p>

</ion-content>
